.first-section {
    width: 100%;
    height: auto;
    background: url('./images/office.png') center / no-repeat;

    & > .header {

        & > .logo {

        }

        & > .contact {

        }

        & > .menu {

        }
    }

    & > .content {

        & > .title {

        }

        & > .text {

        }

        & > .description {
            
        }
    }
}