@font-face {
  font-family: Myriad;
  src: url('./../../fonts/myriad/MYRIADPRO-REGULAR.OTF');
}

@font-face {
  font-family: Myriad;
  font-weight: 300;
  src: url('./../../fonts/myriad/MyriadPro-Light.otf');
}