.footer-component {
  background: #000;
  width: 980px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  & > .logo {
    width: 40px;
    margin-right: 40px;
    height: 100%;
  }

  & > .navigation {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    & > .column {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      & > .link { 
        width: 100%;
        text-decoration: none;
        color: #fff;
        line-height: 2.5;
        text-transform: uppercase;
      }
    }
  }

  & > .contacts {
    width: 40%;
    height: 100%;
    text-align: right;

    & > .text {
      font-size: 10px;
      color: gray;
      text-transform: uppercase;
    }

    & > .craft {
      margin: 10px 0 60px;
    }

    & > .link {
      color: gray;
      text-decoration: none;
    }

    & > .social {
      width: 100%;
      height: 40px;
      border: 1px solid red;
    }
  }
}