.header-component {
  position: absolute;
  width: 100%;
  height: 42px;
  padding: 47px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .logo {
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: rotate(180deg);
    }
  }

  & > .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & > .item {
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300;
  
      &.-link {
        color: #232323;
        opacity: 0.5;
        text-decoration: none;
      }
  
      &.-active {
        opacity: 1;
      }
  
      &.-button {
        color: #fff;
        background: #000;
        width: 152px;
        height: 42px;
        border: none;
        border-radius: 2px;
  
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }

    & > .menu {
      border: none;
      background: none;
      width: 20px;
      height: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
  
      & > .line {
        width: 20px;
        height: 2px;
        display: block;
        background: #000;
      }
    }
  }
}