.client-section {
  width: 100%;
  background: #f5f6f8;
  position: relative;

  & > .customers {
    width: 100%;
    height: 240px;
    background: #ffffff;

    & > .title {
      height: 50px;
      font-size: 72px;
      font-weight: 400;
      color: #000000;
      text-align: center;
      padding-top: 75px;
    }
  }

	& > .plans {
		margin: 0 auto;
		width: 980px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 50px 0;

		& > .item {
			background-color: #f5f6f8;
			color: #000000;
			width: 25%;
			padding: 40px;
			box-sizing: border-box;
			text-align: center;

			&.-active {
				background: #000000;
				color: #f5f6f8;

				& > .button {
					background: cyan;
					color: #000000;
				}
			}
	
			& > .price {
				margin-top: 40px;
				font-size: 50px;
				text-transform: uppercase;
				font-weight: 600;
			}
	
			& > .description {
				margin-top: 40px;
				font-size: 14px;
				font-weight: 300;
				line-height: 22px;
			}
	
			& > .button {
				transition: all 0.2s;
				text-transform: uppercase;
				margin-top: 40px;
				width: 180px;
				height: 50px;
				border: none;
				background: transparent;
				border-radius: 50px;
				cursor: pointer;

				&:hover {
					background: #000000;
					color: #f5f6f8;
					border: 1px solid #ffffff;
				}
			}
		}
	}
}
