.first-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('./images/office.png') center;
    
    & > .header-component {

        & > .logo {
    
        }
    
        & > .contact {
    
        }
    
        & > .menu {
    
        }
    }

    & > .content {

        & > .title {

        }

        & > .text {

        }

        & > .description {
            
        }
    }
}