.last-section {
    background: #f5f6f8 url('./images/footer.png') center no-repeat;
    width: 100%;
    height: auto;
    position: relative;
    min-height: 100%;
    & > .footer-component {

        & > .logo {

        }

        & >.-link {

        }

        & > .content {

            & > .text {
                
            }
        }
    }
}