.last-section {
  background: #f5f6f8 url("./images/footer.png") center bottom no-repeat;
  width: 100%;
  height: auto;
  position: relative;
  min-height: 100%;
  padding-top: 120px;

  & > .title {
    font-size: 7vw;
    color: #000;
    position: absolute;
    text-align: right;
    font-weight: 600;
    top: 5%;
    left: 15%;
    line-height: 1.1;
    text-transform: uppercase;
  }

  & > .content {
    margin: 300px auto 0;
  }
}


// vw = view width

// vh = view height

// vw | vh from view port dimensions