@import './first-section.scss';
@import './benefits-section.scss';
@import './iphone-section.scss';
@import './four-section.scss';
@import './fifth-section.scss';
@import './ipad-section.scss';
@import './features-section.scss';
@import './quotes-section.scss';
@import './photo-section.scss';
@import './client-section.scss';
@import './footer-section.scss';
