.process-section {
position: relative;
width: 100%;
min-height: 100vh;

    & > .heading {
        position: absolute;

        & > .title {
            position: absolute;
            font-size: 72px;
            font-weight: 700;
            line-height: 70px;
            text-transform: uppercase;
            color: #404040;
            margin-left: 350px;
            margin-top: 50px;
            width: 600px;
        }

        & > .text {
            position: absolute;
            width: 1050px;
            color: #5d5d5d;
            font-family: "Roboto - Thin";
            font-size: 24px;
            font-weight: 400;
            line-height: 37px;
            margin-top: 150px;
            margin-left: 100px;
            text-align: center;
        }
    }

    & > .circle {
        position: absolute;
        margin-top: 300px;

        & > .deliver {
            position: absolute;
            padding-left: 980px;
            padding-top: 110px;
        }

        & > .execute {
            position: absolute;
            padding-left: 600px;
        }
        
        & > .planning {
            position: absolute;
            padding-left: 290px;
            padding-top: 33px;
        }

        & > .meeting {
            position: absolute;
            padding-left: 120px;
            padding-top: 105px;
        }

        & > .content {
            position: absolute;
            margin-top: 190px;
            margin-left: 170px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
        }

        & > .content2 {
            position: absolute;
            margin-top: 170px;
            margin-left: 390px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
        }

        & > .content3 {
            position: absolute;
            margin-top: 190px;
            margin-left: 750px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
        }

        & > .content4 {
            position: absolute;
            margin-top: 190px;
            margin-left: 1025px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
        }
    }

    & > .item {
        width: 290px;
        display: inline-block;

        & > .process {
            margin-left: 90px;
            margin-top: 720px;
            color: #5d5d5d;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
        }

        & > .description {
            width: 220px;
            margin-left: 90px;
            margin-top: 10px;
            color: #5d5d5d;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            line-height: 26px;
        }
    }
}