.services-section {
  position: relative;
  background: url("./images/services-background.jpg") center / cover no-repeat;
  width: 100%;

  & > .text {
    padding-top: 150px;
    text-align: center;

    & > .title {
      color: #ffffff;
      font-family: Roboto;
      font-size: 72px;
      font-weight: 600;
      line-height: 70px;
      text-transform: uppercase;
    }

    & > .description {
      margin: 40px auto 90px;
      display: inline-block;
      width: 70%;
      font-family: "Roboto - Thin";
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 37px;
    }
  }

  & > .wrapper {
    width: 100%;
    padding: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;

    & > .item {
      height: 170px;
      flex-basis: 33%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.-top {
        background: #7a225d;

        & > .arrow {
          background: #802c64;
        }
      }

      &.-middle {
        background: #480048;

        & > .arrow {
          background: #500c50;
        }
      }

      &.-bottom {
        background: #300030;

        & > .arrow {
          background: #390c39;
        }
      }

      & > .arrow {
        height: 100%;
        border: none;
        width: 120px;
      }

      & > .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 20px;
        box-sizing: border-box;
        color: #ffffff;

        & > .title {
          width: 100%;
          margin: 0 0 10px;
          font-size: 25px;
          font-weight: 400;
        }

        & > .description {
          width: 100%;
          margin: 0;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
}
