.sixth-section {
    width: 100%;
    height: 800px;
    background: #f5f6f8;
    position: relative;

    & > .item {
        height: 580px;
        width: 1200px;
        background: black;
        margin-left: 80px;
        

        & > .title {
            width: 600px;
            font-size: 72px;
            font-weight: 100;
            line-height: 80px;
            color: #fff;
            padding-top: 95px;
            padding-left: 150px;
            
        }

        & > .description {
            padding-left: 155px;
            padding-top: 25px;
            width: 425px;
            height: 80px;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            color: #fff;
        }

        & > .button {
            height: 30px;
            background-color: #26e6e6;
            color: #000;
            margin-top: 100px;
            margin-left: 155px;
            border: none;
            border-radius: 40%;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
        }
        
        & > .iPad {
            width: 600px;
            height: 500px;
            position: absolute;
            padding-left: 668px;
            padding-top: 250px;
        }

        & > .arrow {
            padding-left: 570px;
            padding-top: 440px;
            position: absolute;
        }
    }
}